body{
    background-color: black;
}
h1{
    color:violet;
}
label{
    color:white;

}
label,input{
    display: block;
    margin-bottom:5px;

}
input:hover{
    border-color:cyan;
}
span,label{
    color:cyan;

}
a{
    text-decoration: none;
    color:violet;
}