*{

    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
body{
    height: 100vh;
    background-image: url(./marvel.jpg) ;
 background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
 

 
}
form{
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);


}
h1{
    color:white;
    margin-bottom: 15px;
}


label{
    color:white;
    display:block;
    padding-top :5px;
}

input{
    border:1px solid;
    display:block;
    margin-bottom:10px ;
   
}


#register input:hover{
    
    border-color:cyan;
}
button{
    
    border-radius:15%;
    margin-top:5px;
}
button:hover{

border-color:cyan;
}